# OS files
.DS_Store

# R and RStudio files
.Rproj.user
rs-synthesis_files/
*.html
.RData
.Rhistory

# Non-tracked files
other/

rs/12.10.21 Rs Studies 2018+ - Water Manipulation.csv
rs/12.10.21 Variance and N - Water manipulations.csv
