on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
name: Render Rmarkdown files

jobs:
  render:
    name: Render Rmarkdown files
    runs-on: macOS-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2 # This is important to set for `git diff-tree` to work below
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-pandoc@v1
      - name: Install rmarkdown and needed packages
        run: |
          install.packages(c("rmarkdown", "readr", "dplyr", "tidyr", "ggplot2", "kableExtra", "forcats"))
        shell: Rscript {0}
      - name: Render Rmarkdown files
        run: |
          Rscript -e 'rmarkdown::render("./rs-synthesis.Rmd")'
